h1 {
  color: gray;
}
img {
  width: 500px;
  height: 300px;
}
.nav1 {
  background-color: #6f42c1;
  margin-top: 0%;
  height: 100px;
}

.form-control {
  height: 40px;
  width: 50%;
  box-shadow: none;
  color: #969fa4;
}
.form-control:focus {
  border-color: #5cb85c;
}

.signup-form {
  width: 600px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form img {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: 170px;
}
.signup-form h2 {
  color: #636363;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}
.signup-form form {
  color: black;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f2f3f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
  margin-top: 3px;
}

.signup-form .row div:first-child {
  padding-right: 10px;
}
.signup-form .row div:last-child {
  padding-left: 10px;
}
.signup-form a {
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: #5cb85c;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}

.col-xs-6 input {
  width: 48%;
  display: inline-block;
}
.t2 {
  margin-left: 16px;
}

.Availability {
  color: #636363;
  margin-left: 5px;
}

.Availability select {
  width: 100%;
}

.btn-Search {
  background-color: green;
  color: white;
  border-radius: 25px;
  font-size: 16px;
  border: 1px solid green;
  width: 30%;
  margin-left: 400px;
}

.myimg {
  width: 130px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
